<html>
<head>
	<meta charset='UTF-8'>
  <title>Error!</title>
  <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic" rel="stylesheet" type="text/css" />
	<link href="/404.css" media="all" rel="stylesheet" type="text/css" />
  <link href="/favicon.png" rel="shortcut icon" type="image/vnd.microsoft.icon">
</head>

<body>
  <div class="layout">
		<div class="title">ERROR 404</div>
		<div class="text icon_500">ERROR 404</div>
		<div class="buttons">
      <a routerLink="/"> ¡Regresar a inicio!</a>
		</div>
  </div>
</body>
</html>
