<body class="home">
<nav class="navbar">
  <div class="navbar-container container">
    <input type="checkbox" name="" id="" />
    <div class="hamburger-lines">
      <span class="line line1"></span>
      <span class="line line2"></span>
      <span class="line line3"></span>
    </div>
    <ul class="menu-items">
      <li> <a routerLink="/"> Home </a></li>
      <li> <a routerLink="pet"> Pets </a></li>
      <li> <a routerLink="login"> login </a></li>
    </ul>
    <h1 class="logo">Love</h1>
  </div>
</nav>
<div class="dog">
  <div class="ear1">
    <div class="ear2"></div>
  </div>
  <div class="ear3">
    <div class="ear4"></div>
  </div>
    <div class="face">
      <div class="spot"></div>
      <div class="eye1"></div>
      <div class="eye2"></div>
      <div class="nose"></div>
      <div class="line">|</div>
      <div class="mouth"> ) </div>
      <div class="cheeks">```</div>
      <div class="cheeks1">```</div>
      <div class="cheeks2">```</div>
      <div class="cheeks3">```</div>
      <div class="cheeks4">```</div>
      <div class="cheeks5">```</div>
    </div>
  </div>
<div class="pompom">POMPOM</div>
</body>
